@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.eot"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: #f5f1f5
}

.wrapper {
    width: 565px;
    margin: 0 auto;
}

header {
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: left;
    padding-top: 10px;
    margin-top: 10px;
}

.main {
    border-top: 1px solid #000;
    width: 565px;
}

.content {
    border-top: 1px solid #000;
    width: 565px;
    margin-bottom: 25px;
}

span {
    font-size: 14px;
    font-family: 'Myriad Pro', sans-serif;
    margin-left: 25px;
}

img {
    width: 230px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    font-family: 'Myriad Pro', sans-serif;
}

li {
    font-family: 'Myriad Pro', sans-serif;
    text-align: left;
}

a {
    font-style: italic;
    margin-left: 40px;
}

.footer {
    border-top: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 100px;
}
